<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>myPack.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDirector</servlet-name>
        <servlet-class>myPack.RegisterDirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountStaff</servlet-name>
        <servlet-class>myPack.RegisterAccountStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>myPack.StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeInfo</servlet-name>
        <servlet-class>myPack.FeeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>myPack.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeUpdate</servlet-name>
        <servlet-class>myPack.FeeUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDirector</servlet-name>
        <url-pattern>/RegisterDirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountStaff</servlet-name>
        <url-pattern>/RegisterAccountStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeInfo</servlet-name>
        <url-pattern>/FeeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeUpdate</servlet-name>
        <url-pattern>/FeeUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
